.footer {
  background-color: $footer-background-color;
  color: $dark-moderate-cyan;
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  position: relative;
  &__links {
    margin: 25px 0 50px 0;
    a {
      color: $dark-moderate-cyan;
      font-size: 14px;
      transition: opacity 200ms ease-in-out;
      &:not(:last-child) {
        margin-right: 30px;
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
  &__socials a {
    cursor: pointer;
    margin: 10px;

    color: $dark-moderate-cyan;
    transition: opacity 200ms ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
  > span {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    > a {
      font-size: 12px;
      font-weight: 600;
      color: $dark-moderate-cyan;
    }
  }
}
