.gallery {
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 1fr));
  @include breakpoint-up(medium) {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: repeat(2, minmax(250px, 1fr));
  }
  @include breakpoint-up(large) {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-template-rows: repeat(1, minmax(250px, 1fr));
  }
  > img {
    height: 100%;
    width: 100%;
    background-size: cover;
  }
}
