@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@400;600;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $font-size;
  font-family: $default-font;
  font-weight: $font-weight;
}

a {
  color: #000;
  text-decoration: none;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  @include breakpoint-up(xlarge) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
