@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $font-size;
  font-family: $font;
  font-weight: $font-weight;
}
/* 
body {

} */

a {
  color: #000;
  text-decoration: none;
}
