.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 50px;
  > h1 {
    font-family: "Fraunces";
    letter-spacing: 5px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: hsl(232, 10%, 55%);
    text-align: center;
  }
  &__section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
      margin-right: 5px;
      margin-bottom: 15px;
    }
  }
  &__avatar {
    width: 50px;
    height: 50px;
    background-size: cover;
    object-fit: cover;
    border-radius: 50%;
  }
  &__text {
    margin: 50px 0;
    text-align: center;
    color: hsl(198, 62%, 26%);
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    height: 150px;
  }
  &__details {
    text-align: center;
    > h1 {
      font-family: "Fraunces";
      font-weight: 900;
      margin-bottom: 10px;
      font-size: 16px;
    }
    > p {
      font-weight: 600;
      color: hsl(232, 10%, 55%);
      font-size: 11px;
    }
  }
}
